:root {
  --text: #4e4e4e;
  --text-light: #666666;
  --accent: #FD4625;
  --link: #fc674d;
  --timeline-point: #E2532E;
  --bg: #fffdfc;
  --hero-bg: #fff4f4;
  --transition: all 0.3s ease;
  --font-heading: 'Poppins', sans-serif;
  --font-body: 'Inter', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-body);
  background-color: var(--bg);
  color: var(--text);
  line-height: 1.6;
}

.hero {
  background-color: var(--hero-bg);
  color: var(--accent);
  padding: 3rem 2rem;
  text-align: center;
}

.hero .logo {
  max-width: 180px;
  margin-bottom: 1rem;
}

.hero h1 {
  font-size: 2.5rem;
  font-family: var(--font-heading);
  margin: 0.5rem 0;
}

.hero p {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.buttons {
  margin-top: 1rem;
}

.buttons a {
  margin: 0.4rem;
  padding: 0.3rem 0.8rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  transition: var(--transition);
}

.buttons .button {
  background: var(--bg);
  color: var(--link);
  border: 1px solid #fbbfb5;
}

.buttons .button:hover {
  background: #f2f2f2;
}

.section {
  padding: 0.5rem 0.5rem;
  max-width: 860px;
  margin: auto;
}

.section p {
  text-align: justify;
  font-weight: 400;
  margin-top: 0;
}

.section a {
  color: var(--link);
}

h2 {
  font-size: 1.75rem;
  color: var(--accent);
  margin-bottom: 1rem;
}

h3 {
  padding-top: 1rem;
  color: var(--text);
  margin-bottom: 1rem;
}

.timeline {
  position: relative;
  margin-left: 1rem;
  padding-left: 2rem;
}

.timeline::before {
  content: "";
  position: absolute;
  top: -0.5rem;
  left: -0.2rem;
  width: 3px;
  /* stops at last dot */
  height: calc(100% - 0.5rem);
  background-color: #bbbbbb;
  z-index: 0;
}

.timeline-item {
  position: relative;
  margin-bottom: 1.5rem;
}

.timeline-item::before {
  content: "";
  position: absolute;
  left: -2.46rem;
  top: 0.5rem;
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--bg);
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 0 2px var(--timeline-point);
}

.timeline-date {
  font-weight: 600;
  color: var(--text);
  margin-bottom: 0.2rem;
}

.timeline-desc {
  margin-left: 1.0rem;
  color: var(--text-light);
  font-weight: 300;
}

.papers {
  padding-left: 2.0rem;
  margin-bottom: 7px;
  font-size: 0.9rem;
  line-height: 18px;
  font-weight: 350;
  position: relative;
}

.papers::before {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: 0.8rem;
  width: 0.5rem;
  height: 0.1rem;
  background-color: var(--text);
}

.papers a {
  color: var(--text);
}

.committee-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: space-around;
}

.photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.photo-container {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.chair-info {
  display: flex;
  flex-direction: column;
}
.chair-name {
  margin: 0;
  font-weight: bold !important;
  font-size: 16px;
}
.chair-affiliation {
  margin: 0;
  font-size: 16px;
}


@media (max-width: 600px) {
  .hero h1 {
    font-size: 1.75rem;
  }

  .buttons a {
    display: block;
    margin: 0.5rem auto;
  }

  .photo-container {
    width: 100%;
  }
}